<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour et bienvenue chez Catshop,</h1>
    <p>
      Suite à votre achat en ligne, veuillez trouver votre photo en haute définition.
    </p>
    <p>
      Pour accéder à votre espace personnel, nous vous invitons à vous connecter via : <%= @url %>.
    </p>
    <p> À très bientôt sur Catshop.</p>
  </body>
</html>