<section class="row">
  <div class="px-4 py-5 my-5 text-center">
    <%= image_tag("banner_all_other_pages", alt:"Photo d'un chaton hyper mignon qui trottine dans l'herbe", class:"d-block mx-auto mb-4") %>
    <h1 class="display-5 fw-bold">KITTEN CAT (nom non-définitif)</h1>
  </div>
</section>